{% extends 'base.html' %}


{% block title %} Projects {% endblock %}

{% block content %}
<div class="card-group">
  <div class="card">
    <a href="{% url 'project' 'k_means' %}" class="links">
    <img src="../static/images/k_means.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hierarchical K Means Visualization</h5>
      <p class="card-text">K Means algorithm is used on clusters recursively to create more sub-clusters. This projects uses 2d data for Visualization, however this technique can be used for 3d, 4d, etc. </p>
      <p class="card-text"><small class="text-muted">Machine Learning</small></p>
    </div>
    </a>
  </div>
  <div class="card">
    <a href="{% url 'project' 2 %}" class="links">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
    </a>
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Machine Learning</small></p>
    </div>
  </div>
</div>
{% endblock %}