{% extends 'base.html' %}
{% load static %}

{% block title %} Resume {% endblock %}

{% block content %}

<style>

    .c22{

        font-size: 20px;

    }


   .c3, .c16, .c5, .c8{

        font-weight: bold;
        font-size: 25px;


    }

</style>
<br>
<br>
<div class="c22" style="padding-left:25px">

<p class="c24 c35">

<span class="c16 c30 c34">Danil Redko &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></p>

<p class="c24 c28" id="h.gjdgxs">

<span class="c11 c30">50 Bruyeres Mews, Toronto, ON M5V 0H8
</span>

<span class="c11">&nbsp;|
</span>

<span class="c11 c30">Cell: +16477042310
</span>

<span class="c18 c32">|
</span>

<span class="c11 c30">&nbsp;dredko@outlook.com

<hr>

<p class="c12">

<span class="c4">
</span></p>

<p class="c24">

<span class="c8">GitHub
</span>

<span>:
</span>

<span class="c16 c21"><a class="c7" href="https://www.google.com/url?q=https://github.com/danilredko&amp;sa=D&amp;ust=1569554095612000">github.com/danilredko</a>
</span></p>

<p class="c24 c31">

<span class="c8">Portfolio:
</span>

<span class="c21 c16"><a class="c7" href="https://www.google.com/url?q=http://redko.ca/&amp;sa=D&amp;ust=1569554095612000">redko.ca</a>
</span></p>

<p class="c24">

<span class="c8">Skills
</span></p>
<ul class="c2 lst-kix_list_7-0 start">
<li class="c19">

<span class="c4">Python, Javascript, PHP, Java
</span></li>
<li class="c19">

<span class="c4">HTML, CSS, Bootstrap, XML, JSON
</span></li>
<li class="c19">

<span class="c4">SQL (MySQL)
</span></li>
<li class="c19">

<span class="c4">Linux (Bionic), Windows, MacOS
</span></li>
<li class="c19">

<span class="c4">Atom, PyCharm, Eclipse
</span></li>
<li class="c19">

<span class="c18">Git
</span></li>
</ul>

<p class="c12">

<span class="c3">
</span></p>

<p class="c24">

<span class="c3">Education
</span></p>

<p class="c13 c14">

<span class="c16">Bachelor of Science
</span>

<span class="c16 c26">(Computer Science, Mathematics, Statistics)
</span>



<span class="c11">
</span>

<span class="c4">09/2015 - 09/2019
</span></p>

<p class="c13">

<span class="c5">University of Toronto
</span>

<span class="c6">&nbsp;&ndash; Mississauga, ON
</span></p>

<p class="c13">

<span class="c16 c20">Relevant courses:
</span>

<span class="c1">Numerical Methods, Data Structures, Software Design, Machine Learning and Data Mining, Computer Vision, Methods of Data Analysis, Probability and Statistics, Applied Statistical Modeling.
</span></p>

<p class="c13 c38">

<span class="c1">
</span></p>

<p class="c13">

<span class="c3">Technical Experience
</span></p>

<p class="c10">

<span class="c16">Vice President of the Robotics Club
</span>

<span class="c18">08/2014 - 08/2015
<br>
</span>

<span class="c5">Braemar College
</span>

<span class="c6">&ndash; Toronto, ON
</span></p>
<ul class="c2 lst-kix_list_8-0 start">
<li class="c17">

<span class="c1">Led three robotic projects
</span></li>
<li class="c17">

<span class="c1">Organized weekly team meetings to re-adjust project deadlines and deliverables
</span></li>
<li class="c24 c23">

<span class="c11">Served within the role of liaison between the president and the members of the club
</span></li>
</ul>

<p class="c13">

<span class="c16">Mathematics Tutor
</span>

<span class="c18">08/2014 - 08/2015
<br>
</span>

<span class="c5">Braemar College
</span>

<span class="c6">&ndash; Toronto, ON
</span></p>
<ul class="c2 lst-kix_list_6-0 start">
<li class="c15">

<span class="c11">Taught Functions, Advanced Functions, Calculus and Linear Algebra courses to four students (8 hrs/week)
</span></li>
<li class="c15">

<span class="c1">Developed individual programs for students, which resulted in an average 15% increase in performance
</span></li>
</ul>

<p class="c25">

<span class="c1">
</span></p>

<p class="c13 c14">

<span class="c16">Sales Assistant
</span>

<span class="c18">12/2012 - 08/2014
</span>

<span class="c11">
<br>
</span>

<span class="c5">iStore
</span>

<span class="c6">&ndash; Khabarovsk, Russia
</span></p>
<ul class="c2 lst-kix_list_6-0">
<li class="c15">

<span class="c1">Responsible for sales, returns, and support services
</span></li>
<li class="c9">

<span class="c11">Helped customers select
</span>

<span class="c1">Apple
</span>

<span class="c11">products
</span></li>
<li class="c9">

<span class="c11">Held Q&amp;A and training sessions to new iOS/MacOS users
</span></li>
<li class="c13 c23">

<span class="c1">Worked
</span>

<span class="c11">in
</span>

<span class="c1">&nbsp;a team of four other sales representatives
</span></li>
</ul>

<p class="c13 c29">

<span class="c1">
</span></p>

<p class="c13">

<span class="c3">Interests
</span></p>
<ul class="c2 lst-kix_list_6-0">
<li class="c15">

<span class="c1">Photography
</span></li>
<li class="c15">

<span class="c11">Skateboarding
</span></li>
</ul>
</div>

<br>
<center><h1><a href="{% static 'documents/DanilRedkoResume.pdf' %}">Download PDF</a></h1></center>
{% endblock %}